/* style for header section */
header{
    font-size: 22px;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header span{
    margin-right: 20px;
}
#count{
    position: absolute;
    top:17px;
    right:24px;
}
.badge{
    --bs-badge-font-size: 0.5em;
}
nav span:hover{
    color:rgb(228, 154, 15);
}

/* style for article */
.bi-lightning-fill{
    color:gold;
}

/* style for section */
section{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    height: 600px;
    padding-top: 15px;
}
.woman{
    background-image: url("../../public/images/women.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 9fr 3fr;
}
.woman:hover{
    opacity:0.8;
   
}

.shop-all{
    height: 50px;
    width: 180px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    background-color: white;
}
.man{
    background-image: url("../../public/images/men-fashion.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 9fr 3fr;
}
.man:hover{
    opacity:0.8;
}
.shop-all{
    height: 50px;
    width: 180px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    background-color: white;
}
.kid{
    background-image: url("../../public/images/kid-girl.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 9fr 3fr;
}
.kid:hover{
    opacity:0.8;
}
.shop-all{
    height: 50px;
    width: 180px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    background-color: white;
}
.shipping-section{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    margin-left: 100px;
    width: 80%;
    padding:30px;
    border-bottom: 1px solid gray;
}
.bag img:hover,.men-shirt img:hover{
    transform: translateX(-10px);
    transition: 3ms;
}
/* footer style */
aside span{
    padding-right: 7px;;
}
footer{
    margin-top: 100px;
    background-color: black;
    color:white;
    padding:10px;
    font-family:arial;
}
.footer-title{
    text-align: center;
    font-size: 24px;
    padding-top:50px;
}
.subscribe{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.email{
    display: inline-block;
    color:lightgray;
    text-align:left;
    padding-right: 10px;
}
.btn-subscribe{
    display: inline-block;
    
}
.services{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    text-align:center;
}
.footer-brand-title{
            
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
   
}
.service-title{
    font-weight: bold;
    font-size: 18px;

}
.service-title~span{
    display: block;
    padding-top: 5px;
   color: rgb(179, 172, 172);
}
address span{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(179, 172, 172);
}

